body {
	background: linear-gradient(-45deg, #fad9f4, #f773a6, #f8a0e2, #ff6eec);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	color: #9c36b5;
	height: 100vh;
	font-family: Arial, sans-serif;
	text-align: center;
	display: flex;
  	justify-content: center;
	align-items: center;
}

.session div:hover {
	text-shadow: 1px 1px 5px #ffffff, 1px 1px 10px #ff79d7;
}

#about {
	width: 200px;
}

h2, p {
	margin: 10px;
}

#contact {
	position: absolute;
  	bottom: 100px;
	width: 200px;
	left:100px;
	display: fixed;
}

#ranking {
	position: absolute;
  	top: 100px;
	width: 200px;
	left:100px;
	display: fixed;
}

.projects {
	position: absolute;
  	bottom: 100px;
	width: 200px;
	right: 100px;
	display: fixed;
	transition: all 1.5s;
}

.dropdown-content {
	position: absolute;
	top: 100%;
	background: rgba(255, 255, 255, 0);
	width: 250px;
	opacity: 0;
	transform: translateY(-10px);
	transition: all 0.3s;
	pointer-events: none;
	margin: auto;
}

.projects:hover .dropdown-content {
	opacity: 1;
	transform: translateY(0);
	pointer-events: auto;
}

.projects:hover {
	bottom: 200px;
	right: 200px;
}

.dropdown-content a {
	text-align: center;
	color: #9c36b5;
	padding: 0.5rem 1rem;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {
	font-weight: bold;
	text-shadow: 1px 1px 5px #ffffff, 1px 1px 10px #ff79d7;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


