body {
	background: linear-gradient(-45deg, #fad9f4, #f773a6, #f8a0e2, #ff6eec);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	color: #9c36b5;
	height: 100vh;
	font-family: Arial, sans-serif;
	text-align: center;
	display: flex;
  	justify-content: center;
	align-items: center;
	margin: 0;
  	padding:0;
}

.session div:hover {
	text-shadow: 1px 1px 5px #ffffff, 1px 1px 10px #ff79d7;
}

#about {
	width: 200px;
}

h2, p {
	margin: 10px;
}

.contact {
	position: absolute;
  	bottom: 100px;
	width: 300px;
	left:100px;
	display: fixed;
	transition: all 1.5s;
}

#ranking {
	position: absolute;
  	top: 100px;
	width: 300px;
	left:100px;
	display: fixed;
}

ul {
  display: flex;
  position: relative;
  top: 0;
  left: 0;
  margin-top: 30px;
  transform: translate(-50%, -50%);
}

ul li {
  list-style: none;
}

ul li a {
  width: 40px;
  height: 40px;
  background-color: #fff;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  margin: 0 10px;
  display: block;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 3px solid #fff;
  z-index: 1;
}

ul li a .icon {
  position: relative;
  color: #991d8f;
  transition: .5s;
  z-index: 3;
}

ul li a:hover .icon {
  color: #fff;
  transform: rotateY(360deg);
}

ul li a:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f00;
  transition: .5s;
  z-index: 2;
}

ul li a:hover:before {
  top: 0;
}

ul li:nth-child(1) a:before{
  background: #3b5999;
}

ul li:nth-child(2) a:before{
  background: #55acee;
}

ul li:nth-child(3) a:before {
  background: #000000;
}

ul li:nth-child(4) a:before {
  background: #833ab4;
  background: linear-gradient(
    to right,
    #833ab4,#fd1d1d,#fcb045
  );
}

.projects {
	position: absolute;
  	bottom: 100px;
	width: 300px;
	right: 100px;
	display: fixed;
	transition: all 1.5s;
}

.dropdown-content {
	position: absolute;
	top: 100%;
	left: 0;
	background: rgba(255, 255, 255, 0);
	width: 300px;
	opacity: 0;
	transform: translateY(-10px);
	transition: all 0.3s;
	pointer-events: none;
	margin: auto;
}

.projects:hover .dropdown-content {
	opacity: 1;
	transform: translateY(0);
	pointer-events: auto;
}

.projects:hover {
	bottom: 200px;
	right: 200px;
}

.contact:hover {
	bottom: 200px;
	left: 200px;
}

.contact:hover .dropdown-content {
	opacity: 1;
	transform: translateY(0);
	pointer-events: auto;
}

.dropdown-content a {
	text-align: center;
	color: #9c36b5;
	padding: 0.5rem 1rem;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {
	font-weight: bold;
	text-shadow: 1px 1px 5px #ffffff, 1px 1px 10px #ff79d7;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


